* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.debug{
    background-color: rgba(255, 0, 0, 0.226);
  }

.debug2{
  background-color: rgba(9, 255, 0, 0.226);
}

.form-control:focus {
    border-color: lighten($low-black, 80%);
    box-shadow: 2px 2px 0px 1px lighten($brand-main, 20%)
}

body {
    min-height: 100vh;
}

#wrapper-auth-user{
    height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/418831/pexels-photo-418831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}

#card-dashboard{
    margin: auto;
    width: 95vw;
    height: 95vh;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .4);
    background-color: #fff;
}

.my_overflow{
    overflow-y: auto;
    overflow-x: hidden;
}

.my_overflow_auto{
    overflow: auto;
}

.no_wrap{
    flex-wrap: nowrap;
}


.my_form_check{

}

.my_btn_grp{
    position: relative;
    // display: flex;
    vertical-align: middle;
    // width: 100%;
}

.my_width{
    // width: 500px;
}


header{

  img{
    height: 50px;
  }

  nav{
    button.btn{
      background-color: $brand-blue;
      color: white;
      transition: all .4s;
      &:hover{
        background-color:$brand-main;
      }
    }
  }
}
