.debug{
  background-color: rgba(255, 0, 0, 0.226);
}

.debug2{
  background-color: rgba(9, 255, 0, 0.226);
}

.d_link{
    // background-color: $brand-main;
}

.debug-header{
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

.card{
  display: inline-block;
}
