.debug{
  background-color: rgba(255, 0, 0, 0.226);
  // border: 1px solid black;
}

.debug2{
  background-color: rgba(9, 255, 0, 0.137);
  // border: 1px dashed black;
}

.debug-header{
  width: 100%;
  text-align: center;
  margin: 0px auto;
}

.form-control:focus {
  border-color: lighten($low-black, 80%);
  box-shadow: 2px 2px 0px 1px lighten($brand-main, 20%)
}

.search_box{


  & input{

  }
}

.card{
  display: inline-block;
}


