$brand-main         : #ff5757;
$brand-blue         : #12478d;
$low-black          : #282828;
$light-text         : #c4c4c4;
$text-white         : #ffffff;
$brand-success-btn  : #B8D8BA;

$brand-btn-radius       : 10px;

