aside {
    // padding: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo{
        img{
            height: 70px;
        }
        i.fa-house{
            color: $brand-main;
        }
    }

    .links{
        // TODO: se si vuole aggiunere il padding aggiungere lo scroll
        // padding: 50px 0;
        // flex-grow: 1;

        ul {
            .nav-item {
                width: 80%;
                margin: 0 auto;
                color: $light-text;
                text-align: center;
                padding: 5px;
                margin-bottom: 10px;
                font-weight: 600;
                // font-size: 1.1rem;

                &:hover {
                    background-color: $brand-main;
                    color: $text-white;
                    border-radius: 10px;
                    transition: all .4s;
                }
            }

            .nav-item.active {
                background-color: $brand-blue;
                color: $text-white;
                border-radius: 10px;
            }
        }
    }
    .log-out-button{


        .btn-logout {
            width: 80%;
            margin: 0 auto;
            background-color: $brand-blue ;
            color: $text-white;
            border-radius: 10px !important;
            overflow: hidden;


            &:hover {
                background-color: $brand-main;
                transition: all .4s;
            }

            a{
                font-weight: 600;

            }
        }
    }
}
